.signup-container {
    background-image: url('../assets/Singup-image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    height: 100vh; 
}

.signup-content {
    margin-top: -50px; 
}

@media (max-width: 1024px) {
    .signup-container {
        background-size: 80% auto; 
    }
}

@media (max-width: 768px) {
    .signup-container {
        background-size: 70% auto; 
    }
}

@media (max-width: 640px) {
    .signup-container {
        background-size: 100% auto;
    }
}